header {
  padding-top: 20px;
  display: flex; 
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: #000645;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
