.new-tweet {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;  
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

form div {
  display: flex;
  margin-top: 10px;
  font-family: 'Bungee', cursive; 
  justify-content: space-between;
}

form button {
  color: white;
  background-color: #4056A1;
  border-radius: 10%;
}

#tweet-text {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 3px;
  outline: none;
  height: 34px;
  resize: none;
  overflow: auto;
  
}


#errorTooLong {
  color: red;
  display: none;
  border: solid red 5px ;
  padding: 5px 0;
}

#errorTooShort {
  color: red;
  display: none;
  border: solid red 5px ;
  padding: 5px 0;
}

.new-tweet {
  display: none;
}