/* for Desktop */
@media (min-width: 1024px){
  nav {
    width: 100%;
  }
  .allContent{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  } 
   .top-header {
     width: 40%;
     margin: 2% 0 0 5%;
     border-radius: 5%;
   }

   #container {
     margin-top: 20px;
     width: 70%;
   }

   .new-tweet {
     width: 80%;
   }
    
   article {
    width: 80%;
  }
   
}

@media (min-width: 768px) {

}